#### 1: Create dataframe from lists

In [1]:
# Import pandas library
import pandas as pd
  
# initialize list elements
data = [10,20,30,40,50,60]
  
# Create the pandas DataFrame with column name is provided explicitly
df = pd.DataFrame(data, columns=['Numbers'])
  
# print dataframe.
df

   Numbers
0       10
1       20
2       30
3       40
4       50
5       60

#### 2: Creating Pandas DataFrame from lists of lists

In [2]:
# initialize list of lists
data = [['tom', 10], ['nick', 15], ['juli', 14]]
  
# Create the pandas DataFrame
df = pd.DataFrame(data, columns=['Name', 'Age'])
  
df

   Name  Age
0   tom   10
1  nick   15
2  juli   14

#### 3: Creating DataFrame from dict of narray/lists

In [4]:
# initialize data of lists.
data = {'Name': ['Tom', 'nick', 'krish', 'jack'],
        'Age': [20, 21, 19, 18]}
  
# Create DataFrame
df = pd.DataFrame(data)
  
df

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

#### 4: Creating a DataFrame by proving index label explicitly.

In [3]:
# initialize data of lists.
data = {'Name': ['Tom', 'Jack', 'nick', 'juli'],
        'marks': [99, 98, 95, 90]}
  
# Creates pandas DataFrame.
df = pd.DataFrame(data, index=['rank1','rank2', 'rank3', 'rank4'])
  
# print the data
df

       Name  marks
rank1   Tom     99
rank2  Jack     98
rank3  nick     95
rank4  juli     90

#### 5：Creating Dataframe from list of dicts

In [5]:
# Initialize data to lists.
data = [{'a': 1, 'b': 2, 'c': 3},
        {'a': 10, 'b': 20, 'c': 30}]
  
# Creates DataFrame.
df = pd.DataFrame(data)
  
# Print the data
df

    a   b   c
0   1   2   3
1  10  20  30

In [6]:
# Initialize data of lists
data = [{'b': 2, 'c': 3}, {'a': 10, 'b': 20, 'c': 30}]
  
# Creates pandas DataFrame by passing
# Lists of dictionaries and row index.
df = pd.DataFrame(data, index=['first', 'second'])
  
# Print the data
df

         b   c     a
first    2   3   NaN
second  20  30  10.0

In [7]:
# Initialize lists data.
data = [{'a': 1, 'b': 2},
        {'a': 5, 'b': 10, 'c': 20}]
  
# With two column indices, values same
# as dictionary keys
df1 = pd.DataFrame(data, index=['first', 'second'],columns=['a', 'b'])
  
# With two column indices with
# one index with other name
df2 = pd.DataFrame(data, index=['first', 'second'],columns=['a', 'b1'])
  
# print for first data frame
print(df1, "\n")
  
# Print for second DataFrame.
print(df2)

        a   b
first   1   2
second  5  10

        a  b1
first   1 NaN
second  5 NaN

#### 6: Creating DataFrame using zip() function
Two lists can be merged by using list(zip()) function

In [12]:
# List1
Name = ['tom', 'krish', 'nick', 'juli']
  
# List2
Age = [25, 30, 26, 22]
  
# get the list of tuples from two lists.
# and merge them by using zip().
list_of_tuples = list(zip(Name, Age))
  
# Assign data to tuples.
list_of_tuples
  
  
# Converting lists of tuples into
# pandas Dataframe.
df = pd.DataFrame(list_of_tuples, columns=['Name', 'Age'])
  
# Print data.
print(list_of_tuples)
print(df)

[('tom', 25), ('krish', 30), ('nick', 26), ('juli', 22)]
    Name  Age
0    tom   25
1  krish   30
2   nick   26
3   juli   22

In [9]:
list_of_tuples

[('tom', 25), ('krish', 30), ('nick', 26), ('juli', 22)]

#### 7: Creating dataframe from series

In [13]:
# Initialize data to series.
d =  pd.Series([10, 20, 30, 40])
# creates Dataframe.
df = pd.DataFrame(d)
  
# print the data.
df

    0
0  10
1  20
2  30
3  40

#### 8: Creating DataFrame from Dictionary of series.

In [14]:
# Initialize data to Dicts of series.
d = {'one': pd.Series([10, 20, 30, 40],index=['a', 'b', 'c', 'd']),
  'two': pd.Series([10, 20, 30, 40],index=['a', 'b', 'c', 'd'])}
  
# creates Dataframe.
df = pd.DataFrame(d)
  
# print the data.
df

   one  two
a   10   10
b   20   20
c   30   30
d   40   40